<ion-content padding>

  <ion-tabs selectedIndex=selectedIndex  >
    <ion-tab [root]="detail" tabTitle="Detail" tabIcon="person"></ion-tab>
    <ion-tab *ngIf="isStudent" [root]="contact" tabTitle="Contact" tabIcon="contact"></ion-tab>
    <ion-tab *ngIf="isStudent" [root]="family" tabTitle="Family" tabIcon="people"></ion-tab>
    <ion-tab *ngIf="isStudent" [root]="course" tabTitle="Course" tabIcon="time"></ion-tab>
    <ion-tab *ngIf="isStudent" [root]="history" tabTitle="History" tabIcon="time"></ion-tab>
    <ion-tab *ngIf="!isStudent" [root]="admin" tabTitle="Admin" tabIcon="contact"></ion-tab>
  </ion-tabs>


</ion-content>